In [2]:
import pandas as pd
version = pd.__version__
print(version)

2.3.1

In [9]:
# Load Data
# 1. csv files
df = pd.read_csv("pokemon_data.csv")
# print(df)
print(df.head(3))

# 2. excel files
# df_xlsx = pd.read_xlsx("filename or path")
# print(df_xlsx)

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [8]:
# Reading Data
# Reading Headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [15]:
# Reading each column
# name = df.Name
# print(name)

print(df[['Name', 'Speed']])

                      Name  Speed
0                Bulbasaur     45
1                  Ivysaur     60
2                 Venusaur     80
3    VenusaurMega Venusaur     80
4               Charmander     65
..                     ...    ...
795                Diancie     50
796    DiancieMega Diancie    110
797    HoopaHoopa Confined     70
798     HoopaHoopa Unbound     80
799              Volcanion     70

[800 rows x 2 columns]

In [16]:
# Reading Each Row
row = df.iloc[1]
print(row)

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [20]:
# Reading specific Location
row = df.iloc[1,4]
print(row)

60

In [25]:
# Specific Identities 
speed = df.loc[df['Speed'] == 80]
print(speed)

       #                   Name    Type 1    Type 2   HP  Attack  Defense  \
2      3               Venusaur     Grass    Poison   80      82       83
3      3  VenusaurMega Venusaur     Grass    Poison   80     100      123
5      5             Charmeleon      Fire       NaN   58      64       58
29    24                  Arbok    Poison       NaN   60      85       69
99    92                 Gastly     Ghost    Poison   30      35       30
139  129               Magikarp     Water       NaN   20      10       55
152  141               Kabutops      Rock     Water   60     115      105
161  149              Dragonite    Dragon    Flying   91     134       95
168  154               Meganium     Grass       NaN   80      82      100
170  156                Quilava      Fire       NaN   58      64       58
203  188               Skiploom     Grass    Flying   55      45       50
278  257               Blaziken      Fire  Fighting   80     120       70
298  275                Shiftry     Grass      Dark   90     100       60
305  282              Gardevoir   Psychic     Fairy   68      65       65
335  308               Medicham  Fighting   Psychic   60      60       75
357  326                Grumpig   Psychic       NaN   80      45       65
365  334                Altaria    Dragon    Flying   75      70       90
366  334    AltariaMega Altaria    Dragon     Fairy   75     110      110
381  349                 Feebas     Water       NaN   20      15       20
396  362                 Glalie       Ice       NaN   80      80       80
442  397               Staravia    Normal    Flying   55      75       50
473  426               Drifblim     Ghost    Flying  150      80       44
519  468               Togekiss     Fairy    Flying   85      50       95
524  473              Mamoswine       Ice    Ground  110     130       80
526  475                Gallade   Psychic  Fighting   68     125       65
538  481                Mesprit   Psychic       NaN   80     105      105
547  489                 Phione     Water       NaN   80      80       80
567  508              Stoutland    Normal       NaN   85     110       90
670  609             Chandelure     Ghost      Fire   60      55       90
689  628               Braviary    Normal    Flying  100     123       75
691  630              Mandibuzz      Dark    Flying  110      65      105
776  706                 Goodra    Dragon       NaN   90     100       70
798  720     HoopaHoopa Unbound   Psychic      Dark   80     160       60

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
2        100      100     80           1      False
3        122      120     80           1      False
5         80       65     80           1      False
29        65       79     80           1      False
99       100       35     80           1      False
139       15       20     80           1      False
152       65       70     80           1      False
161      100      100     80           1      False
168       83      100     80           2      False
170       80       65     80           2      False
203       45       65     80           2      False
278      110       70     80           3      False
298       90       60     80           3      False
305      125      115     80           3      False
335       60       75     80           3      False
357       90      110     80           3      False
365       70      105     80           3      False
366      110      105     80           3      False
381       10       55     80           3      False
396       80       80     80           3      False
442       40       40     80           4      False
473       90       54     80           4      False
519      120      115     80           4      False
524       70       60     80           4      False
526       65      115     80           4      False
538      105      105     80           4       True
547       80       80     80           4      False
567       45       90     80           5      False
670      145       90     80           5      False
689       57       75     80           5      False
691       55       95     80           5      False
776      110      150     80           6      False
798      170      130     80           6       True

In [27]:
# Sorting/Describing Data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [30]:
# Sorting values
sorted_names = df.sort_values('Name')
print(sorted_names)

       #                     Name   Type 1  Type 2   HP  Attack  Defense  \
510  460                Abomasnow    Grass     Ice   90      92       75
511  460  AbomasnowMega Abomasnow    Grass     Ice   90     132      105
68    63                     Abra  Psychic     NaN   25      20       15
392  359                    Absol     Dark     NaN   65     130       60
393  359          AbsolMega Absol     Dark     NaN   65     150       60
..   ...                      ...      ...     ...  ...     ...      ...
632  571                  Zoroark     Dark     NaN   60     105       60
631  570                    Zorua     Dark     NaN   40      65       40
46    41                    Zubat   Poison  Flying   40      45       35
695  634                 Zweilous     Dark  Dragon   72      85       70
794  718         Zygarde50% Forme   Dragon  Ground  108     100      121

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
510       92       85     60           4      False
511      132      105     30           4      False
68       105       55     90           1      False
392       75       60     75           3      False
393      115       60    115           3      False
..       ...      ...    ...         ...        ...
632      120       60    105           5      False
631       80       40     65           5      False
46        30       40     55           1      False
695       65       70     58           5      False
794       81       95     95           6       True

[800 rows x 12 columns]

In [31]:
# Sorting values with attributes
sorted_names = df.sort_values('Name', ascending = False)
print(sorted_names)

       #                     Name   Type 1  Type 2   HP  Attack  Defense  \
794  718         Zygarde50% Forme   Dragon  Ground  108     100      121
695  634                 Zweilous     Dark  Dragon   72      85       70
46    41                    Zubat   Poison  Flying   40      45       35
631  570                    Zorua     Dark     NaN   40      65       40
632  571                  Zoroark     Dark     NaN   60     105       60
..   ...                      ...      ...     ...  ...     ...      ...
393  359          AbsolMega Absol     Dark     NaN   65     150       60
392  359                    Absol     Dark     NaN   65     130       60
68    63                     Abra  Psychic     NaN   25      20       15
511  460  AbomasnowMega Abomasnow    Grass     Ice   90     132      105
510  460                Abomasnow    Grass     Ice   90      92       75

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
794       81       95     95           6       True
695       65       70     58           5      False
46        30       40     55           1      False
631       80       40     65           5      False
632      120       60    105           5      False
..       ...      ...    ...         ...        ...
393      115       60    115           3      False
392       75       60     75           3      False
68       105       55     90           1      False
511      132      105     30           4      False
510       92       85     60           4      False

[800 rows x 12 columns]

In [39]:
# Data manipulation
# Dropping out a Column
Total = df.drop(columns = ["HP"])
print(Total.head(5))

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [51]:
# Changing Column names
df.loc[df["Type 2"] == "Ground", "Type 2"] = "Earth"
print(df.head(30))

     #                       Name  Type 1  Type 2  HP  Attack  Defense  \
0    1                  Bulbasaur   Grass  Poison  45      49       49
1    2                    Ivysaur   Grass  Poison  60      62       63
2    3                   Venusaur   Grass  Poison  80      82       83
3    3      VenusaurMega Venusaur   Grass  Poison  80     100      123
4    4                 Charmander    Fire     NaN  39      52       43
5    5                 Charmeleon    Fire     NaN  58      64       58
6    6                  Charizard    Fire  Flying  78      84       78
7    6  CharizardMega Charizard X    Fire  Dragon  78     130      111
8    6  CharizardMega Charizard Y    Fire  Flying  78     104       78
9    7                   Squirtle   Water     NaN  44      48       65
10   8                  Wartortle   Water     NaN  59      63       80
11   9                  Blastoise   Water     NaN  79      83      100
12   9    BlastoiseMega Blastoise   Water     NaN  79     103      120
13  10                   Caterpie     Bug     NaN  45      30       35
14  11                    Metapod     Bug     NaN  50      20       55
15  12                 Butterfree     Bug  Flying  60      45       50
16  13                     Weedle     Bug  Poison  40      35       30
17  14                     Kakuna     Bug  Poison  45      25       50
18  15                   Beedrill     Bug  Poison  65      90       40
19  15      BeedrillMega Beedrill     Bug  Poison  65     150       40
20  16                     Pidgey  Normal  Flying  40      45       40
21  17                  Pidgeotto  Normal  Flying  63      60       55
22  18                    Pidgeot  Normal  Flying  83      80       75
23  18        PidgeotMega Pidgeot  Normal  Flying  83      80       80
24  19                    Rattata  Normal     NaN  30      56       35
25  20                   Raticate  Normal     NaN  55      81       60
26  21                    Spearow  Normal  Flying  40      60       30
27  22                     Fearow  Normal  Flying  65      90       65
28  23                      Ekans  Poison     NaN  35      60       44
29  24                      Arbok  Poison     NaN  60      85       69

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
9        50       64     43           1      False
10       65       80     58           1      False
11       85      105     78           1      False
12      135      115     78           1      False
13       20       20     45           1      False
14       25       25     30           1      False
15       90       80     70           1      False
16       20       20     50           1      False
17       25       25     35           1      False
18       45       80     75           1      False
19       15       80    145           1      False
20       35       35     56           1      False
21       50       50     71           1      False
22       70       70    101           1      False
23      135       80    121           1      False
24       25       35     72           1      False
25       50       70     97           1      False
26       31       31     70           1      False
27       61       61    100           1      False
28       40       54     55           1      False
29       65       79     80           1      False

In [ ]:
# Saving files
df.to_csv('filename')
df.to_excel('filename', index = False)

In [45]:
# Filtering Data
filtered_data = df.loc[df["Type 1"] == "Fire"]
print(filtered_data.head(5))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159

   Sp. Def  Speed  Generation  Legendary
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False

In [55]:
# Aggregate Statistics 
# Mean
speed = df.groupby(["Speed"]).mean(numeric_only = True)
print(speed.head())

                #         HP     Attack     Defense    Sp. Atk     Sp. Def  \
Speed
5      329.500000  77.500000  47.500000  135.000000  25.000000  157.500000
10     454.333333  46.333333  76.666667   77.000000  26.333333   58.666667
15     274.666667  62.111111  47.777778   53.666667  35.000000   33.888889
20     338.333333  57.266667  65.333333   75.666667  60.600000   62.066667
22     564.000000  54.000000  78.000000  103.000000  53.000000   45.000000

       Generation  Legendary
Speed
5        3.000000        0.0
10       4.000000        0.0
15       2.777778        0.0
20       3.200000        0.0
22       5.000000        0.0

In [57]:
# Sum
speed = df.groupby(["Speed"]).sum(numeric_only = True)
print(speed.head())

          #   HP  Attack  Defense  Sp. Atk  Sp. Def  Generation  Legendary
Speed
5       659  155      95      270       50      315           6          0
10     1363  139     230      231       79      176          12          0
15     2472  559     430      483      315      305          25          0
20     5075  859     980     1135      909      931          48          0
22      564   54      78      103       53       45           5          0

In [58]:
# Check for missing values
null_values = df.isnull().sum()
print(null_values)

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [59]:
# Check for Duplicates
duplicates = df.duplicated().sum()
print(duplicates)

0

In [60]:
# Drop Duplicates if Any
drop_duplicates = df.drop_duplicates()
print(drop_duplicates)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [61]:
# Drop rows with missing Values
missing_values = df.dropna()
print(missing_values)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
6      6              Charizard     Fire  Flying  78      84       78
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
6        109       85    100           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[414 rows x 12 columns]

In [65]:
df = pd.read_csv("pokemon_data.csv")
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]